/* style.css */
.calendar {
    max-width: 100%;
    margin: 0 auto;
}
/* Hide extra elements */
.calendar .contrib-footer,
.calendar .text-muted,
.calendar .contrib-streak-info,
.calendar .contrib-legend,
.calendar .graph-before-activity-overview {
    display: none !important;
}
.calendar .calendar-graph {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    width: 100%;
}
